@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #0f172a;
    --text-secondary: #1e293b;
    --text-blue: #67e8f9;
    --bg-primary: #fff;
    --bg-secondary: #f3f4f6;
    --bg-btn: #334155;
    --bg-btn-hover: #1e293b;
    --bg-btn-ghost: #e2e8f0;
    --bg-msg-current: #ecfccb;
    --bg-msg-other: #f3f4f6;
  }

  .dark {
    --text-primary: #e2e8f0;
    --text-secondary: #cbd5e1;
    --bg-primary: #334155;
    --bg-secondary: #1f2937;
    --bg-btn: #e2e8f0;
    --bg-btn-hover: #f1f5f9;
    --bg-btn-ghost: #334155;
    --bg-msg-current: #0284c7;
    --bg-msg-other: #334155;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f8f8f8;
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
  }
  html {
    height: -webkit-fill-available;
  }
}

@layer components {
  .icon {
    @apply w-6 h-6 dark:group-hover:text-gray-200;
  }
}
