@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* slate-900  */
    --text-primary: #0f172a;
    /* slate-800 */
    --text-secondary: #1e293b;
    /* cyan-300 */
    --text-blue: #67e8f9;
    /* white */
    --text-white: #ffffff;

    /* white */
    --bg-primary: #fff;
    /* gray-100 */
    /* --bg-secondary: #f3f4f6; */
    --bg-secondary: #e5e7eb;
    /* green-500 */
    --bg-online: #22c55e;
    /* gray-200 */
    --bg-hover: #e5e7eb;

    /* slate-700 */
    --bg-btn: #334155;
    /* red-600 */
    --bg-btn-danger: #dc2626;
    /* red-500 */
    --bg-btn-danger-hover: #ef4444;
    /* slate-800 */
    --bg-btn-hover: #1e293b;
    /* slate-300 */
    --bg-btn-ghost: #cbd5e1;

    /* lime-100 */
    --bg-msg-current: #ecfccb;
    /* gray-100 */
    --bg-msg-other: #f3f4f6;

    --toastify-font-family: "vazir";
  }

  .dark {
    /* slate-200 */
    --text-primary: #e2e8f0;
    /* slate-300 */
    --text-secondary: #cbd5e1;

    /* slate-700 */
    --bg-primary: #334155;
    /* gray-800 */
    --bg-secondary: #1f2937;
    /* slate-600 */
    --bg-hover: #475569;

    /* slate-200 */
    --bg-btn: #e2e8f0;
    /* red-500 */
    --bg-btn-danger: #ef4444;
    /* red- */
    --bg-btn-danger-hover: #dc2626;
    /* slate-100 */
    --bg-btn-hover: #f1f5f9;
    /* slate-700 */
    --bg-btn-ghost: #334155;

    /* sky-600 */
    --bg-msg-current: #0284c7;
    /* slate-700 */
    --bg-msg-other: #334155;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .icon-button {
    @apply dark:text-white;
  }

  .sidebar-icon {
    @apply text-3xl w-14 h-14;
  }
  .custom-scrollbar {
    @apply scrollbar scrollbar-w-1 scrollbar-track-transparent scrollbar-thumb-slate-500 scrollbar-thumb-rounded-full;
  }
  .sidebar-icon-button {
    @apply !text-2xl md:!text-3xl w-9 h-9 md:!w-12 md:!h-12;
  }
}
@layer utilities {
  .bubble-corner {
    clip-path: polygon(
      25% 34%,
      17% 23%,
      10% 13%,
      0% 0%,
      0% 25%,
      0% 42%,
      0% 52%,
      8% 65%,
      21% 78%,
      34% 85%,
      49% 89%,
      65% 92%,
      81% 90%,
      100% 85%,
      84% 79%,
      74% 74%,
      63% 68%,
      55% 62%,
      45% 54%,
      35% 45%
    );
  }
}

/* customize toastify styles */
:root {
  --toastify-color-dark: #1f2937;
  --toastify-color-light: #e5e7eb;
}

/* customize emoji picker styles */
em-emoji-picker {
  width: 100%;
  margin-top: 0.5rem;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.editable.bold {
  font-weight: bold;
}
